
        /* Estilos para el reproductor de música */
        .music-player {
            border: 2px solid #6f0279;
            padding: 30px;
            margin-bottom: 20px;
            width: 300px;
            height: 200px;
            text-align: center;
            justify-content: center;
            margin-left:35%;
            margin-top: 50px;
            background-image: url('images/f.png');
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(97, 4, 155, 0.5);

        }
        .song-info {
            margin-bottom: 10px;
        }
        .playlist {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .playlist-item {
            margin-bottom: 5px;
            cursor: pointer;
        }
        .playlist-item:hover {
            color: blue;
        }
        .tit{
            width: 1470px;
            height: 230px;
            background-image: url('images/tit.png');
            background-size: cover;
            background-repeat: no-repeat;
        }